@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  margin: 0;
  font-family: "Neucha", cursive;
  background: #fefbe9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
